@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.editPerson {
  @include overlay;

  &__container {
    flex-direction: column;
    align-items: flex-end;
    @include modal-container;
  }

  &__close {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition: 0.2s;
    &::before {
      content: url("../../assets/icons/close.svg");
      transform: scale(1.5);
      display: inline-block;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__label {
    @include large;
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    border: 3px solid $blue;
    background-color: white;
    @include medium;
    &::placeholder {
      color: rgb(198, 150, 150);
    }
    &:focus-visible {
      border: 3px solid $blue;
      outline: 2px solid $blue;
    }
    &--invalid {
      border: 3px solid $red;
      outline: 2px solid $red;
    }
  }

  &__error {
    color: $red;
    margin-top: -1.2rem;
    margin-bottom: -1rem;
    @include small;
  }

  &__button {
    @include button;
  }
}
