@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.edit {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $red;
    padding: 1rem;
    gap: 1rem;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  &__left-container {
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
  }

  &__tax-tip-label {
    font-size: 0.9rem;
    line-height: 2.25rem;
    color: $yellow;
  }

  &__add {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 0.3rem;
    padding: 1rem;
    border: 2px dashed $blue;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.2s;
    &::before {
      content: url("../../assets/icons/add.svg");
    }
    &:hover {
      cursor: pointer;
      transform: scale(0.9);
    }
  }

  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }

  &__person-total {
    color: $pink;
    @include small;
  }

  &__person-tax-tip {
    color: $yellow;
    @include small;
  }

  &__name {
    color: $yellow;
    @include small;
  }

  &__avatar {
    min-width: 2.5rem;
    min-height: 2.5rem;
  }

  &__form {
    width: 90%;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $yellow;
    margin-top: 12rem;
    box-shadow: 10px 10px $blue;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    border-bottom: 1px dashed $blue;
    padding: 1rem;
    gap: 0.25rem;
    &--end {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &--column {
      width: 20%;
      display: flex;
      flex-flow: column wrap;
      align-content: flex-end;
    }
  }

  &__input {
    background-color: $yellow;
    border: none;
    text-align: right;
    @include small;
    &--quantity {
      width: 10%;
      text-align: left;
    }
    &--description {
      width: 100%;
      text-align: left;
      flex-shrink: 3;
    }
    &:focus {
      outline: none;
    }
  }

  &__input-money {
    background-color: $yellow;
    border: none;
    text-align: right;
    @include small;
    padding-left: 0.9rem;
    background-image: url("../../assets/icons/dollar.svg");
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position: right 100% top 50%;
    &--item-total {
      width: 22%;
    }
    &--tax-tip {
      width: 100%;
    }
    &--subtotal {
      width: 100%;
      text-align: right;
      color: rgb(151, 154, 196);
    }
    &--bill-total {
      width: 20%;
      text-align: right;
      color: rgb(151, 154, 196);
    }
    &:focus {
      outline: none;
    }
  }

  &__item-bottom {
    display: flex;
  }

  &__item-split {
    width: 25%;
    text-align: right;
    color: grey;
    @include small;
  }

  &__people-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__person-container {
    width:15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0 1.7rem;
    overflow: hidden;
  }
  
  &__label {
    text-align: center;
    font-size: 0.9rem;
  }

  &__checkbox {
    width: 250%;
    margin-bottom: -0.25rem;
    appearance: none;
    padding: 0.25rem;
    transition: 0.20s;
    &:not(:checked) {
      content: url("../../assets/icons/avatar.svg");
      transform: scale(0.8);
      opacity: 0.50;
    }
    &:checked {
      content: url("../../assets/icons/avatar.svg");
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__text {
    @include small;
    &--gray {
      text-align: right;
      color: rgb(151, 154, 196);
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
