@use "./variables.scss" as *;

@mixin large {
  font-size: 2rem;
  line-height: 2.25rem;
}

@mixin medium {
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin small {
  font-size: 1.2rem;
  line-height: 1.75rem;
}

@mixin button {
  width: 40%;
  display: flex;
  justify-content: center;
  background-color: $red;
  color: $yellow;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0 12px $blue;
  transition: 0.15s;
  @include medium;

  &:hover {
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 0 10px $blue;
  }

  &:active {
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0 5px $blue;
  }
}

@mixin close {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transition: 0.2s;
  &::before {
    content: url("../../assets/icons/close.svg");
    transform: scale(1.5);
    display: inline-block;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

@mixin overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
}

@mixin modal-container {
  width: 90%;
  max-width: 30rem;
  height: 20rem;
  padding: 2rem;
  background-color: $yellow;
  box-shadow: 0 10px $blue;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}